################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webapp1/.vs/webapp1/FileContentIndex
/.vs/webapp1/FileContentIndex
